<div class="wrap">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-md d-flex align-items-center">
                <p class="mb-0 phone mt-1 mb-1"><span class="mailus">Phone no:</span> <a href="#">+91 808 318 888</a> or <span
                        class="mailus">email us:</span> <a href="#">safaiking2021@gmail.com</a></p>
            </div>
            <div class="col-12 col-md d-flex justify-content-md-end">
                <div class="social-media">
                    <p class="mb-2 mt-2 d-flex">
                        <a href="#" class="d-flex align-items-center justify-content-center"></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
                        <a href="#" class="d-flex align-items-center justify-content-center"><span
                                class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html" style="font-size: 178%;">Safai <span style="color:#FFDE2E;">King</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="portfolio.html" class="nav-link">Portfolio</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
	
	<!-- END nav -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="color: black;">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"  style="background-color: black;"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"  style="background-color: black;"></li>
         
        </ol>
        <div class="carousel-inner" >
          <div class="carousel-item active" style="height: 400px; width: 100%;">
            <img class="d-block w-100" src="assets\images\bg_1.jpg" alt="First slide" style="height: 100%; width:100%">
            <div class="carousel-caption d-none d-md-block">
              <p class="colll" style="font-size: 17px;">Leave the house cleaning chores to us</p>
              <h5 class="colll"  style="margin-top: -18px;">Let us do the dirty work, so you don't have to.</h5>
            </div>
          </div>
       
          <div class="carousel-item" style="height: 400px; width: 100%;">
            <img class="d-block w-100" src="assets\images\image_5.jpg" alt="Third slide"  style="height: 100%; width:100%">
            <div class="carousel-caption d-none d-md-block">
              <p class="colll" style="font-size: 17px;">Leave the house cleaning chores to us</p>
              <h5  class="colll" style="margin-top: -18px;" >Let us do the dirty work, so you don't have to.</h5>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="cur fas fa-chevron-left fa-lg" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="cur fas fa-chevron-right fa-lg" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>