<!-- END nav -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators" style="color: black;">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color: black;"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color: black;"></li>

  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 450px; width: 100%;">
      <img class="d-block w-100" src="assets\images\bg_1.jpg" alt="First slide" style="height: 100%; width:100%">
      <div class="carousel-caption d-none d-md-block">
        <p class="colll" style="font-size: 17px;">Leave the house cleaning chores to us</p>
        <h5 class="colll" style="margin-top: -18px;">Let us do the dirty work, so you don't have to.</h5>
        <p><a href="#" class="btn mr-md-4 py-2 px-4" style="background-color: #ffc400; color: black; font-weight: 600;">Learn more <span
          class="ion-ios-arrow-forward"></span></a></p>
      </div>
    </div>

    <div class="carousel-item" style="height: 450px; width: 100%;">
      <img class="d-block w-100" src="assets\images\bg_1.jpg" alt="Third slide" style="height: 100%; width:100%">
      <div class="carousel-caption d-none d-md-block">
        <p class="colll" style="font-size: 17px;">Leave the house cleaning chores to us</p>
        <h5 class="colll" style="margin-top: -18px;">Let us do the dirty work, so you don't have to.</h5>
        <p><a href="#" class="btn mr-md-4 py-2 px-4" style="background-color: #ffc400; color: black; font-weight: 600;">Learn more <span
          class="ion-ios-arrow-forward"></span></a></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="cur fas fa-chevron-left fa-lg" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="cur fas fa-chevron-right fa-lg" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<section class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="img d-flex align-items-center justify-content-center py-5 py-md-0" style="margin-bottom: 67px;">
        <div style="height: 500px; width: 400px;">
          <img src="assets\images\about.jpg" alt="img"
            style="width: 100%;height: 100%; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
        </div>

        <div class="time-open-wrap">
          <div class="desc p-4">
            <h2 style="font-family: 'Roboto Slab', serif;">Business Hours</h2>
            <div class="opening-hours">
              <h4>Opening Days:</h4>
              <p class="pl-3">
                <span><strong>Everyday :</strong> 8am to 8 pm</span>
              </p>
              <h4>Vacations:</h4>
              <p class="pl-3">
                <span>All Official Holidays</span>
              </p>
            </div>
          </div>
          <div class="desc p-4 bg-secondary">
            <h3 class="heading">For Emergency Cases</h3>
            <span class="phone">(+91) 808 318 888</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-md-12" style="margin-top:80px;">
        <span class="subheading" style="font-size: 20px;">Welcome to Safai King</span>
        <h2 class="mb-4 fony" style=" font-weight: 500;">Let's make you fresher than ever</h2>
        <p>With the help of our services you will be surprized and amazed by the makeover from trash
          to 'Brand New' condition. We will provide you with the best service prossible and make
          every rupee spent worth.</p>
        <p><a href="#" class="btn mr-md-4 py-2 px-4" style="background-color:#f8da30; font-weight: 600; color: black;">Learn more </a></p>
      </div>
    </div>
  </div>
</section>

<div class="parallax" style="background-image: url(../../../assets/images/work-2.jpg);" >
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center" style="margin-top: 50px; margin-bottom: 50px; font-family: 'Roboto Slab', serif;">
        <h2 style="font-weight: 600;">Together we will explore new things</h2>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center pb-5 mb-3">
    <div class="col-md-7 heading-section text-center">
      <span class="subheading" style="font-size: 20px;">Services</span>
      <h2 style="font-family: 'Roboto Slab', serif; font-weight: 550;">What we Provide</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 services">
      <div class="d-block d-flex">
        <div class="icon d-flex justify-content-center align-items-center">
          <img src="assets\images\tank (1).png" alt="img" width="40">
        </div>
        <div class="media-body pl-3">
          <h3 class="heading" style="font-family: 'Roboto Slab', serif;">Tank Cleaning</h3>
          <p><a href="#" class="btn-custom">Enquire</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 services">
      <div class="d-block d-flex">
        <div class="icon d-flex justify-content-center align-items-center">
          <img src="assets\images\car-wash.png" alt="img" width="50">
        </div>
        <div class="media-body pl-3">
          <h3 class="heading" style="font-family: 'Roboto Slab', serif;">Car Washing</h3>
          <p><a href="#" class="btn-custom">Enquire</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 services">
      <div class="d-block d-flex">
        <div class="icon d-flex justify-content-center align-items-center">
          <img src="assets\images\liquid-soap.png" alt="img" width="40">
        </div>
        <div class="media-body pl-3">
          <h3 class="heading" style="font-family: 'Roboto Slab', serif;">Sanitization</h3>
          <p><a href="#" class="btn-custom">Enquire</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 services ftco-animate">
      <div class=" d-block d-flex">
        <div class="icon d-flex justify-content-center align-items-center">
          <img src="assets\images\sea-level.png" alt="img" width="40">
        </div>
        <div class="media-body pl-3">
          <h3 class="heading" style="font-family: 'Roboto Slab', serif;">Water Level Control</h3>
          <p><a href="#" class="btn-custom">Enquire</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<section style="background-color:#2E2E2E ;">
  <div class="container" style="height: 20%;">
    <div class="row justify-content-center">
      <div class="col-md-7 heading-section heading-section-white text-center" style=" margin-top: 26px;">
        <span class="subheading" style="color:#FFDE2E; font-size: 20px;">Testimonies</span>
        <h2 style="font-family: 'Roboto Slab', serif; font-weight: 500; color:white; margin-bottom: 43px;">Happy
          Customer</h2>
      </div>
    </div>
    <div class="row">
      <div class="embed-responsive embed-responsive-21by9 col-xs-12 text-center" style="margin-bottom: 40px;">
        <iframe width="560" height="200" src="https://www.youtube.com/embed/HSgjpQBkR0c?controls=0"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section style="margin-top: 100px;">
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12 col-lg-3 pr-md-12 pb-lg-0 pb-4">
        <div class="heading-section ftco-animate text-center text-lg-left">
          <span class="subheading" style=" font-size: 20px; font-family: 'Roboto Slab', serif;">Team &amp; Staff</span>
          <h2 style="font-family: 'Roboto Slab', serif; font-weight: 500; color:black; margin-bottom: 20px;">Our Team
          </h2>
          <p>A small river named Duden flows by their place and supplies it with the necessary
            regelialia.
            It is a paradisematic country</p>
          <p><a href="#" class="btncol btn" style="font-weight: 500; color:black;">View All Staff</a></p>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 ftco-animate d-flex">
        <div class="picwidth"
          style=" margin-bottom: 100px; height: 404px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
          <div class="imgbox" style="height:250px; width:255px;">
            <img src="assets\images\staff-7.jpg" alt="img" style="height:100%; width:100%;">
          </div>
          <div class="piccall pt-3 px-3 pb-4 text-center"
            style="height:155px; width:255px; background-color: #FFDE2E;">
            <h3>Lloyd Wilson</h3>
            <span class="position" style="margin-bottom: 20px;">Office Cleaner</span>
            <div style="margin-top: 10px;">
              <button type="button" class="btncolor btn btn-circle btn-sm"
                style="margin-bottom: 30px; background-color:#2e2e2e ;">
                <a href=""><i class="fab fa-instagram fa-2x" style="color:#FFDE2E ;"></i></a>
              </button>&nbsp;
              <button type="button" class="btncolor btn btn-circle btn-sm"
                style="margin-bottom: 30px; background-color:#2e2e2e ;">
                <i class="fab fa-google fa-2x" style="color:#FFDE2E;"></i>
              </button>&nbsp;
              <button type="button" class="btncolor btn btn-circle btn-sm"
                style="margin-bottom: 30px; background-color:#2e2e2e; ">
                <i class="fab fa-facebook-f fa-2x" style="color: #FFDE2E;"></i>
              </button>&nbsp;
              <button type="button" class="btncolor btn btn-circle btn-sm"
                style="margin-bottom: 30px; background-color:#2e2e2e">
                <i class="fab fa-twitter fa-2x" style="color:#FFDE2E;"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3 ftco-animate d-flex">
        <div class="picwidth"
        style=" margin-bottom: 100px; height: 404px;  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <div class="imgbox" style="height:250px; width:255px;">
          <img src="assets\images\staff-7.jpg" alt="img" style="height:100%; width:100%;">
        </div>
        <div class="piccall pt-3 px-3 pb-4 text-center"
          style="height:155px; width:255px; background-color: #FFDE2E;">
          <h3>Lloyd Wilson</h3>
          <span class="position" style="margin-bottom: 20px;">Office Cleaner</span>
          <div style="margin-top: 10px;">
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e ;">
              <a href=""><i class="fab fa-instagram fa-2x" style="color:#FFDE2E ;"></i></a>
            </button>&nbsp;
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e ;">
              <i class="fab fa-google fa-2x" style="color:#FFDE2E;"></i>
            </button>&nbsp;
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e; ">
              <i class="fab fa-facebook-f fa-2x" style="color: #FFDE2E;"></i>
            </button>&nbsp;
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e">
              <i class="fab fa-twitter fa-2x" style="color:#FFDE2E;"></i>
            </button>
          </div>
        </div>
      </div>
      </div>

      <div class="col-md-4 col-lg-3 ftco-animate d-flex">
        <div class="picwidth"
        style=" margin-bottom: 100px; height: 404px; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;">
        <div class="imgbox" style="height:250px; width:255px;">
          <img src="assets\images\staff-7.jpg" alt="img" style="height:100%; width:100%;">
        </div>
        <div class="piccall pt-3 px-3 pb-4 text-center"
          style="height:155px; width:255px; background-color: #FFDE2E;">
          <h3>Lloyd Wilson</h3>
          <span class="position" style="margin-bottom: 20px;">Office Cleaner</span>
          <div style="margin-top: 10px;">
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e ;">
              <a href=""><i class="fab fa-instagram fa-2x" style="color:#FFDE2E ;"></i></a>
            </button>&nbsp;
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e ;">
              <i class="fab fa-google fa-2x" style="color:#FFDE2E;"></i>
            </button>&nbsp;
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e; ">
              <i class="fab fa-facebook-f fa-2x" style="color: #FFDE2E;"></i>
            </button>&nbsp;
            <button type="button" class="btncolor btn btn-circle btn-sm"
              style="margin-bottom: 30px; background-color:#2e2e2e">
              <i class="fab fa-twitter fa-2x" style="color:#FFDE2E;"></i>
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>

